section.footer
    .container
        nav.footer__nav
            ul.footer__nav_list
                li.footer__nav_item 
                    a.footer__link(href="#")    Раскрытие информации
                    nav.footer__subnav
                        ul.footer__subnav_list
                            li.footer__subnav_item 
                                    a.footer__link.footer__link_color(href="#")    Реквезиты
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Раскрытие информации
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Процентные ставки по вкладам физ.лиц
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Список лиц под контролем либо значительным влиянием которых находится Банк
                li.footer__nav_item 
                    a.footer__link(href="#") Частым клиентам
                    nav.footer__subnav
                        ul.footer__subnav_list
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Банковские карты
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Вклаы
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Тарифы
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Защитные признаки банкнот Банка России
                li.footer__nav_item 
                    a.footer__link(href="#") Корпоративным клиентам
                    nav.footer__subnav
                        ul.footer__subnav_list
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Как стать клиентом
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Кредитование
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Интернет банк
                li.footer__nav_item 
                    a.footer__link(href="#") Услуги на РЦБ
                    nav.footer__subnav
                        ul.footer__subnav_list
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Доступ на валютный рынок
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")   Брокерское обслуживание
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    Открыть брокерский счет
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")   Еврооблигации
                            li.footer__subnav_item 
                                    a.footer__link.footer__link_color(href="#")    Торговля на ММВБ
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")   Облигации
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")    QUIK трейдинг
                            li.footer__subnav_item 
                                a.footer__link.footer__link_color(href="#")   Transaq