section.news  
    .container
        .wrapper.news__wrapper
            h3.services__title.news__title  Новости
            span.news__title_text 
                a.news__link(href="#") Архив новостей
        .news__list
            .news__item
                span.news__data 26 июня 2019 года
                span.news__text Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект 
            .news__item
                span.news__data 25 июня 2019 года
                span.news__text Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект 
            .news__item
                span.news__data 26 июня 2019 года
                span.news__text Предварительные выводы неутешительны: курс на социально-ориентированный национальный проект 