section.services  
    .container
        h2.services__title   Услуги на рынке ценных бумаг
        .wrapper
            .services__item
                .services__item-wrapper
                    h3.services__item_title  Брокерское обслуживание
                    .services__content
                        .services__content_title    Персональное брокерское обслуживание в банке
                        .services__content_text 
                            span Бесплатный ввод и вывод денежных средств (российские рубли в наличной) <br> и безналичной форме)
                    .services__image.services__image-1
                        img.services__image_item(src="images/service-1.png")    
                .services__content_footer
                    a.services__link(href="#") Подать заявку
            .services__item
                .services__item-wrapper.services__item-wrapper_color
                    h3.services__item_title  Еврооблигации
                    .services__content
                        .services__content_title   Еврооблигации для всех. <br> Продажа еврооблигаций
                        .services__content_text 
                            span Фиксированная доходность выше, чем по банковскому вкладу
                        .services__image.services__image-2.services__image_position-right
                            img.services__image_item(src="images/service-2.png")
                .services__content_footer
                    a.services__link(href="#") Подать заявку
        .wrapper
            .services__item.services__money
                h3.services__item_title.services__money_title  Валюта <p class="services__money_title-text">18.07.2019 </p>
                .services__item-wrapper.services__money_wrapper
                    .services__table_list
                        .services__table_item
                            .services__table_name
                                span.services__table_text    Валюта
                            .services__table_name
                                span.services__table_text    Период
                            .services__table_name
                                span.services__table_text    Покупка
                            .services__table_name
                                span.services__table_text    Продажа
                            .services__table_name
                                span.services__table_text    ЦБ 
                        .services__table_item.services__table_item_mrg-top
                            .services__table_name
                                span.services__table_text.services__table_currency   USD
                            .services__table_name
                                svg(class="service__table_image" width="52" height="28" viewBox="0 0 52 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1 27L5.5 17L10.5 22L20.5 2L23.5 17L41 2L45.5 22L51 17" stroke="#8890A1")
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_falling    64,56
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_growth    64,56
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_growth.services__arrow_growth_mrg-right    64,5645 
                       
                            .services__table_name
                                span.services__table_text.services__table_currency   EUR
                            .services__table_name
                                svg(class="service__table_image" width="52" height="23" viewBox="0 0 52 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1 19L5.5 9L10.5 14H21L31 1.5L39 5.5L46.5 9L51 22.5" stroke="#8890A1")
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_falling    72,20
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_falling    72,69
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_falling.services__arrow_falling_mrg-right    72,3422 
                        
                            .services__table_name
                                span.services__table_text.services__table_currency   GBP
                            .services__table_name
                                svg(class="service__table_image" width="52" height="28" viewBox="0 0 52 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1 27L5.5 17L10.5 22L20.5 2L23.5 17L41 2L45.5 22L51 17" stroke="#8890A1")
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_growth    84,40 
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_growth    85,02
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_growth.services__arrow_growth_mrg-right    85,4443 
                     
                            .services__table_name
                                span.services__table_text.services__table_currency   chf
                            .services__table_name
                                svg(class="service__table_image" width="52" height="23" viewBox="0 0 52 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M1 19L5.5 9L10.5 14H21L31 1.5L39 5.5L46.5 9L51 22.5" stroke="#8890A1")
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_falling     59,33
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_falling    60,56
                            .services__table_name
                                span.services__table_text.services__table_price.services__arrow_growth.services__arrow_growth_mrg-right     59,6664
                .services__content_footer
                    a.services__link(href="#") Курсы валют в отделениях Банка       
            .services__item.services__money
                h3.services__item_title.services__money_title.services__coins_title Монеты из драгоценных металлов
                .services__item-wrapper.services__money_wrapper
                    .services__table_list
                        .services__table_item
                            .services__table_name
                                span.services__table_text    Вид
                            .services__table_name
                                span.services__table_text    Наминал
                            .services__table_name
                                span.services__table_text    Покупка
                            .services__table_name
                                span.services__table_text    Продажа
                        .services__table_item
                            .services__table_name
                                img.services__table_coins-image(src="../images/coins-1.png")
                            .services__table_wrapper
                                h3.services__table_title Георгий Победоносец (ММД)
                                .services__table_name.services__table_name-mrg-top
                                    span.span.services__table_text.services__table_price   50
                                .services__table_name.services__table_name-mrg-top
                                    span.services__table_text.services__table_price   21500
                                .services__table_name.services__table_name-mrg-top
                                    span.services__table_text.services__table_price    22456
                            .services__table_name
                                img.services__table_coins-image(src="../images/coins-2.png")
                            .services__table_wrapper
                                h3.services__table_title Георгий Победоносец (Серебро)
                                .services__table_name.services__table_name-mrg-top
                                    span.span.services__table_text.services__table_price   100
                                .services__table_name.services__table_name-mrg-top
                                    span.services__table_text.services__table_price   22566
                                .services__table_name.services__table_name-mrg-top
                                    span.services__table_text.services__table_price    23890
                .services__content_footer
                    a.services__link(href="#") Каталог монет  
                
