section.services.section-service-2
    .container
        .services-2 
            h1.services-2__title Переводите с карты на карту
            span.services-2__text.services-2__text-1    Быстрый и удобный способ перевести денежные средства.Узнайте о <span class="services-2__title_color-blue">лимитах и комиссиях</span>
            button.header__button Перевести
            img.services-2__image(src="../images/card.png")
        .services-2__wrapper
            .services-2.services-2__flex_2.services-2__card
                h1.services-2__title Прямой доступ <br> на валютный рынок
                span.services-2__text.services-2__text_w   Зарабатывайте на колебаниях курсов мировых валют
                img.services-2__image.services-2__image_pos(src="../images/s2-img-1.png")
            .services-2.services-2__flex_1.services-2__card
                h1.services-2__title.services-2__title-2 Защитные признаки банкнот Банка России
                span.services-2__text    Признаки подлинности,контролируемые с использованием х8-х10 лупы
                img.services-2__image.services-2__image_pos(src="../images/s2-img-2.png")
            .services-2.services-2__flex_1.services-2__card
                h1.services-2__title До +0,5% годовых <br> при дистанционном оформлении
                span.services-2__text.services-2__text-4    Начался прием карт МИР по выдаче наличных в сети банкоматов и дополнительных офисов. 
                img.services-2__image.services-2__image-4.services-2__image_pos(src="../images/s2-img-3.png")
            .services-2.services-2__flex_2.services-2__card
                h1.services-2__title Бесконтактная карта <br> MasterCard 
                span.services-2__text.services-2__text-5    Вы можете гораздо быстрее произвести оплату на АЗС, парковке, в кафе или в магазине одним касанием!
                img.services-2__image.services-2__image-5.services-2__image_pos(src="../images/s2-img-4.png")