doctype hyml
html(lang="ru-RU")
head
  title private banking 
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="css/swiper.min.css")
body
  //header
  include template\header.pug
  //main
  include template\main.pug
  //news
  include template\news.pug
  //footer
  include template\footer.pug
script(src="js/jquery.min.js")
script(src="js/swiper.min.js")
script(src="js/main.js")

